.connection{
    border: 1px solid black;
    border-radius: 5vh;
    background-color: lightcoral;
    margin-bottom: 5vh;
}

.profilepic{
    border-radius: 50%;
    height: 7vh;
    width: 5vw;
}